.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.icon {
  color: #3399ff;
  transition: transform 350ms ease-out;
}

.icon:focus,
.icon:hover {
  transform: scale(-1, 1);
}
