.homeLayout {
  margin-top: 40px;
  padding: 24px;
  background-color: #0f1c2b;
  border-radius: 8px;
  min-height: 80vh;
}

@media screen and (min-width: 1024px) {
  .homeLayout {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}
