.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal.open {
  display: block;
}

.modalContent {
  position: relative;
  background-color: #0f1b29;
  margin: 15% auto;
  padding: 50px 20px 20px;
  border: 1px solid #1f262e;
  width: 345px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  transition: color 350ms ease-out;
}

.close:hover,
.close:focus {
  color: #1665c0;
  text-decoration: none;
  cursor: pointer;
}
