.MuiInputBase-root {
  color: #ffffff72 !important;
}

.MuiInputBase-root.Mui-focused {
  color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ffffff73 !important;
}

.MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #1876d2 !important;
}

.MuiInputBase-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #d32f2f !important;
}

.MuiFormLabel-root {
  color: #fff !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #1976d2 !important;
}

.MuiFormLabel-root.Mui-error {
  color: #d32f2f !important;
}

.MuiTypography-root {
  color: #ffffff71 !important;
}
